@import 'compass';
@import 'compass/reset';
@import 'utils';

*{
	outline:none;
}

body{
	-webkit-user-select: none;
	background-color:#020b13;
	color:white;
}

button,a{
	-webkit-app-region: no-drag;
}

#header{
	-webkit-app-region: drag;
	height:50px;
	width:100%;
	background-color: #020a12; // layer fill content
	@include background-image(linear-gradient(bottom, #010b15 0%, #010b13 100%)); // gradient overlay
	color:white;
	top:0; right:0; left:0;
	position:fixed;
	border-bottom:1px solid #021323;
	.os{
		position: absolute;
		top:15px; left:15px;
		.btn-os{
			width:12px;
			height:12px;
			@include border-radius(30px);
			color:transparent;
			display: inline-block;
			padding: 0;
			border: none;
		}
		button{
			display: inline-block;
			background-color: #2D2D2D;
			&:hover{
				&.close{
					background-color: #e74c3c;
				}
				&.minimize{
					background-color: #f1c40f;
				}
			}
		}
	}
	h2{

	}
	li{
		display: inline-block;
		a{
			color:white;
			text-decoration: none;
		}
	}
}

.content{
	margin-top:50px;
	@include scrollable();
}